$color_orange:#D87D4A;
$color_lightblack:#101010;
$color_darkgrey: #F1F1F1;
$color_lightwhite:#FAFAFA;
$color_pink:#fbaf85;
$color_white:#FFFFFF;
$color_black:#000000;

// -----font-----

$fb: 700;
$fn: 400;